* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-container {
    background: #FFFFFF;
    height: 76px;
    left: 0px;
    top: 0px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    position: absolute;
    width: 1500px;
    height: 900px;

    top: 76px;
    background: #F2F2F2;
}

.nav-btn-container .Bagfill-btn {
    position: absolute;
    width: 30.56px;
    height: 30px;
    left: 1199px;
    top: 5px;

}

.nav-btn-container .accountcircle-btn {
    position: absolute;
    width: 30.56px;
    height: 30px;
    left: 1253px;
    top: 5px;
}

.nav-btn-container .Vector-btn {
    position: absolute;
    width: 30.56px;
    height: 30px;
    left: 1307px;
    top: 5px;
}

.nav-btn-container .Search-btn {
    position: absolute;
    width: 30.56px;
    height: 30px;
    left: 770px;
    top: 5px;
}

nav ul {
    position: absolute;
    width: 213px;
    height: 37px;
    left: 25px;
    top: 22px;

    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;

    color: #000000;
}

nav .logo {
    position: absolute;
    left: 20.25%;
    right: 85%;
    top: 2.86%;
    bottom: 9%;
}

.nav-items li {
    position: absolute;
    width: 213px;
    height: 37px;
    left: 25px;
    top: 0px;
}

.search-box {
    position: absolute;
    width: 414px;
    height: 30px;
    left: 476px;
    top: 24px;

}

.search-box a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.search-box input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 0px;
    margin-right: 25px;
    font-size: 17px;
    background: #F2EFEF;
    border-radius: 25px;
    width: 414px;
    height: 30px;
}


header {
    position: absolute;
    width: 466px;
    height: 150px;
    left: 207px;
    top: 272px;
}

header h1 {
    position: absolute;
    width: 466px;
    height: 54px;
    left: 20px;
    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

header p {
    position: absolute;
    width: 442px;
    height: 82px;
    left: 20px;
    top: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

header .hero-image {
    position: absolute;
    width: 525.48px;
    height: 349.98px;
    left: 440px;
    top: -50px;
}

.hero-nav .Shop {
    position: absolute;
    width: 128px;
    height: 40px;
    left: 20px;
    top: 10px;
    color: #FFFFFF;
}

.hero-nav {
    position: absolute;
    width: 150px;
    height: 49px;
    left: 130px;
    top: 200px;

    background: #333333;
    border-radius: 15px;
}